.container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.cover img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.title {
  display: flex;
  flex-direction: column;
}

.title h1 {
  font-size: 3rem;
}

.title span {
  font-size: 0.75rem;
  color: var(--text-secondary-color)
}