.card-big {
  display: flex;
  flex-direction: column;
  background: var(--surface-color);
  padding: 0.75rem;
  border-radius: 0.5rem;
}

.card-big img {
  width: 100%;
  object-fit: cover;
}

.card-big p {
  color: var(--text-secondary-color);
}

.card-big span {
  color: var(--text-secondary-color);
  font-weight: 500
}

.card-big a{
  text-decoration: none;
}