<app-menu-title></app-menu-title>
<section class="main-container">
  <div>
    <app-card-big
      id="{{
      posts[0].id
      }}"
      date="{{
      posts[0].date
      }}"
      image_url="{{
      posts[0].image_url
      }}"
      description="{{
      posts[0].description
      }}"
      title="{{ posts[0].title }}"
    />
  </div>
  <div class="feed">
    @for (item of posts; track $index) {
      <app-card-small
        id="{{ item.id }}"
        date="{{ item.date }}"
        image_url="{{ item.image_url }}"
        title="{{ item.title }}"
      />
  }
</div>
</section>
