nav {
  max-width: 1440px;
  margin: 0 auto;
}

ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  list-style: none;
}

li a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
}

a:hover {
  opacity: 0.5;
  transition: 500ms;
}